.post-img1{
    background: url(../images/post1.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.slide-area p{
    margin-left:18px;
    color:red;
    font-weight: bold;
}
.write{
    width: 80%;
    margin :auto;
    margin-bottom:50px;
}
.write p{
    color: black;
    line-height:24px;
   
}
.post-imgs1{
    background: url(../images/fashion.jpg);
    width: 90%;
    height :160px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.write h3{
    width: 80%;
    margin :auto;
    font-size:19px;
    margin-left:6px;
}
#register-area p{
    color: black;
}
.post-img2{
    background: url(../images/post2.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.post-img3{
    background: url(../images/post3.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.post-img4{
    background: url(../images/div8.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.post-img5{
    background: url(../images/post5.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.post-img6{
    background: url(../images/stories1.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.post-img7{
    background: url(../images/div9.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.post-img8{
    background: url(../images/post2.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.post-img9{
    background: url(../images/tfast.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.post-img10{
    background: url(../images/tsecond.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.post-img11{
    background: url(../images/tthirde.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.post-img12{
    background: url(../images/ffast.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.post-img13{
    background: url(../images/fsecond.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}

.post-img14{
    background: url(../images/fthirde.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}

.post-img15{
    background: url(../images/ffore.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}

.post-img16{
    background: url(../images/fitness1.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}

.post-img17{
    background: url(../images/fsix.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}

.post-img18{
    background: url(../images/pfast.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}

.post-img19{
    background: url(../images/life.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
.post-img20{
    background: url(../images/game.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}

.post-img21{
    background: url(../images/fashion.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}

.post-img22{
    background: url(../images/history.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}

.post-img23{
    background: url(../images/mc-5-768x586.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}

.post-img24{
    background: url(../images/div1.jpg);
    width: 80%;
    height :200px;
    margin : auto;
    background-size: cover;
    margin-bottom:50px;
}
